:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --green: #31d0aa;
  --lightslate: #8e8f99;
}

/*CSS RESET*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate, #434455, #434455);
  background-color: var(--white, #fff);
}

.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  /* width: 100%; */

  @media screen and (min-width: 320px) {
    width: 320px;
    /* width: 100%; */
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1158px) {
    width: 1158px;
  }
}

/*Header*/

.page-header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

.nav-menu,
.contacts-menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.contacts-menu {
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1158px) {
    flex-direction: row;
  }
}

.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 0;
  font-weight: 800;
}

.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.logo {
  color: var(--iris, #4d5ae5);
}

.studio {
  color: var(--navyblue, #2e2f42);
}

.nav-menu {
  margin-left: 93px;
}

.nav-menu .page {
  position: relative;
}

.page::after {
  content: "";
  width: 0;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  transition: width 250ms ease-in-out, background-color 250ms ease-in-out;
}

.page.current::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  background-color: var(--ocean, #404bbf);
  border-color: var(--ocean, #404bbf);
}

.page:hover::after,
.page:focus::after {
  width: 100%;
  background-color: var(--ocean, #404bbf);
  border-color: var(--ocean, #404bbf);
}

.nav-menu .page.current:hover::after,
.nav-menu .page.current:focus::after {
  width: 100%;
}

.nav-menu .page,
.contacts-menu .contact {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  transition: color 250ms ease-in-out;
}

.contacts-menu .contact {
  @media screen and (min-width: 768px) {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
  }

  @media screen and (min-width: 1158px) {
    padding-top: 32px;
    padding-bottom: 31px;
    font-size: 16px;
  }
}

.contacts-menu .contact {
  color: var(--slate, #434455);
  font-weight: 400;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iris, #4d5ae5);
}

/*Contacts*/
.contacts-menu {
  margin-left: auto;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-menu .item:not(:last-child) {
  margin-right: 0;

  @media screen and (min-width: 1158px) {
    margin-right: 50px;
  }
}

.contacts-menu .contact {
  color: var(--slate, #434455);
  font-weight: 400;
}

/*Section 1*/

.bg-hero {
  background-color: var(--navyblue, #2e2f42);
}

.hero {
  padding: 112px 0;
  text-align: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 768px) {
    background-image: unset;
  }

  /* Mobile 2x */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg-m@2x.jpg");
  }

  /* Tablet */
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-t.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  /* Tablet 2x */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg-t@2x.jpg");
  }

  /* Desktop */
  @media screen and (min-width: 1158px) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-d.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  /* Desktop 2x */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg-d@2x.jpg");
  }
}

.hero-title {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
  font-weight: 700;
  color: var(--white, #fff);
  margin-bottom: 72px;

  text-align: center;

  @media screen and (min-width: 1158px) {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
  }
}

.button {
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-size: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  background-color: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  letter-spacing: 0.06em;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean, #404bbf);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .space + .space {
  margin-left: 8px;
}

.button.filter {
  background-color: var(--cloud, #f4f4fd);
  color: var(--iris, #4d5ae5);
  line-height: 1.62;
  padding: 12px 24px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean, #404bbf);
  color: var(--cloud, #f4f4fd);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Section 2*/

.benefits .title {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;

    justify-content: left;
    margin-top: 8px;
  }

  @media screen and (min-width: 1158px) {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.14;

    display: flex;
    margin-bottom: 10px;
  }
}

.benefits .description {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;

  margin-top: 8px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;

  @media screen and (min-width: 1158px) {
    gap: 24px;
  }
}

.benefits .item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 4);
  }
}

/*Section 2 SVG*/

.benefits-container {
  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    width: 264px;
    height: 112px;

    border-radius: 4px;
    background-color: var(--cloud, #f4f4fd);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.benefits-icon {
  fill: currentColor;
}

/*Section 3*/

.section {
  padding-top: 96px;
  padding-bottom: 96px;

  @media screen and (min-width: 1158px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section.no-top-padding {
  padding-top: 0;
  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    display: block;
  }
}

.image-item {
  @media screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 3);
  }
}

.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
}

.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.what-we-do .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/*Section 4*/

.bg-team {
  background-color: var(--cloud, #f4f4fd);
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;

  @media screen and (min-width: 768px) {
    column-gap: 24px;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

.team .item {
  /* flex-basis: calc(100% / 4 - 30px); */

  padding-bottom: 30px;
  background-color: var(--white, #fff);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 45px) / 4);
  }
}

.team .name,
.team .position {
  text-align: center;
  line-height: 1.19;
}

.team .name {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team .position {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
}

/*Section 4 SVG*/

.team-social-list {
  display: flex;
  justify-content: center;

  gap: 24px;
  padding-top: 10px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: var(--white, #fff);
  background-color: var(--iris, #4d5ae5);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean, #404bbf);
}

.substrate {
  background-color: var(--white, #fff);
  padding: 32px 16px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.projects.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px;
  font-size: 16px;
  color: var(--cloud, #f4f4fd);
  background-color: var(--iris, #4d5ae5);

  transform: translateY(101%);
  transition: transform 250ms ease-in-out;
}

.project-card:hover .card-text {
  transform: translateY(0);
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--navyblue, #2e2f42);
  margin-bottom: 4px;
}

.project .type {
  color: var(--slate, #434455);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/*Section 5 Customers*/

.customers-list {
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 0;
  }
}

.customers-item {
  width: calc((100% - 30px) / 2);
  height: 88px;

  @media screen and (min-width: 768px) {
    width: 168px;
    height: 88px;
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 150px) / 6);
  }
}

.customers-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);

  color: var(--lightslate, #8e8f99);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
  width: 100px;
  height: 60px;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--ocean, #404bbf);
  border-color: var(--ocean, #404bbf);
}

/*Footer*/

.studio-footer {
  color: var(--cloud, #f4f4fd);
}

.footer-description {
  color: var(--cloud, #f4f4fd);
  line-height: 1.5;
  font-size: 16px;
  margin-top: 17px;
}

.page-footer {
  background-color: var(--navyblue, #2e2f42);
  padding: 96px 0;

  @media screen and (min-width: 1158px) {
    padding: 60px 0;
  }
}

/*Social Media Footer*/

.footer {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  row-gap: 72px;

  @media screen and (min-width: 768px) {
    padding-left: 108px;
    padding-right: 0;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 24px;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
    padding-left: 0;
    column-gap: 0;
  }
}

.social-footer {
  color: var(--cloud, #f4f4fd);
  line-height: 1.5;
}

.footer-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }

  @media screen and (min-width: 1158px) {
    margin-left: 120px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}

.footer-block .team-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top: 16px;
}

.footer-block .team-social-link:hover,
.team-social-link:focus {
  background-color: var(--green, #31d0aa);
}

/* Subscribe Footer */
.subscribe-footer {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1158px) {
    margin-left: 80px;
  }
}

.subscribe-footer form {
  display: block;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: flex-end;
  }
}

.subscribe-title {
  text-align: center;
  color: var(--white, #fff);

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.email-input {
  display: block;
  border: 1px solid var(--lightslate, #8e8f99);
  border-radius: 4px;
  margin-top: 16px;
  width: 100%;
  height: 40px;
  padding: 10px;

  background-color: transparent;
  outline: transparent;
  color: var(--white, #fff);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 264px;
  }
}

.email-input::placeholder {
  font-size: 12px;
  color: var(--white, #fff);
}

.subscribe-block {
  text-align: center;
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.subscribe-modal {
  background-color: var(--iris, #4d5ae5);
  height: 40px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  color: var(--white, #fff);
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 500;

  border: 4px;
  border-radius: 4px;
  padding: 8px 24px;
  gap: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-left: 24px;
  }

  @media screen and (min-width: 1158px) {
    margin-left: 16px;
  }
}

.subscribe-modal:hover,
.subscribe-modal:focus {
  background-color: var(--ocean, #404bbf);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subscribe-icon {
  fill: var(--white, #fff);
}

/* MODAL WINDOW */

.backdrop {
  top: 0%;
  left: 0;
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 72px 24px 24px 24px;
  width: 408px;

  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 4px;
  min-width: 320px;
  height: 100vh;

  background-color: var(--white, #fff);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 320px) {
    height: auto;
  }

  @media screen and (max-width: 407px) {
    width: 100%;
  }
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--navyblue, #2e2f42);
  margin-bottom: 34px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  background-color: var(--cornflower, #e7e9fc);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms ease-in-out;
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--white, #fff);
  background-color: var(--ocean, #404bbf);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

/* MODAL FORM */

.form-field {
  display: block;
  position: relative;
}

.form-label {
  position: absolute;
  top: -16px;
  font-size: 12px;
  line-height: 0.87px;
  letter-spacing: 0.01em;
}

.form-input,
.form-textarea {
  display: block;
  width: 100%;
  margin-bottom: 29px;
  padding: 11px 16px 11px 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  line-height: 0.87px;
  letter-spacing: 0.01em;

  color: var(--navyblue, #2e2f42);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  outline: none;
  border-color: var(--iris, #4d5ae5);
}

.form-textarea {
  padding-left: 16px;
  height: 120px;
  resize: none;
  margin-bottom: 16px;
}

.form-textarea::placeholder {
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--navyblue, #2e2f42);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--iris, #4d5ae5);
}

.form-agreement {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-left: -12px;
}

.form-checkbox-icon {
  fill: none;
  border: 1px solid var(--navyblue, #2e2f42, rgba(46, 47, 66, 0.4));
  border-radius: 2px;
  margin-right: 7px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-checkbox-icon {
  background-color: var(--iris, #4d5ae5);
  border-color: var(--iris, #4d5ae5);
  fill: var(--white, #fff);
}

.agree-desc {
  font-size: 12px;
  color: var(--lightslate, #8e8f99);
}

.form-terms {
  color: var(--iris, #4d5ae5);
}

.button-modal-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-modal {
  width: 169px;
  height: 56px;
  cursor: pointer;

  display: inline;
  justify-content: center;
  align-items: center;

  background-color: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: 4px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--ocean, #404bbf);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Hamburger Menu Open */
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 24px 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--navyblue, #2e2f42);

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    display: none;
  }
}

.hamburger-container {
  position: relative;
  height: 100vh;
  width: 100vw;

  padding: 0 0 40px 40px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    display: none;
  }
}

.hamburger-menu-toggle {
  border-radius: 50%;
  border: 1px solid var(--cornflower);
  padding: 0;

  position: absolute;
  top: 24px;
  right: 24px;
}

.js-close-menu {
  position: absolute;
  top: 24;
  right: 24px;
}

.menu-icon {
  fill: currentColor;
}

/* Hamburger Menu Navigations and Close Icon */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white, #fff);
  z-index: 200;

  visibility: hidden;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
  visibility: visible;
}

/* Mobile Navigation */
.mob-list {
  margin-top: 80px;
}

.mob-menu-item {
  margin-bottom: 40px;
}

.mob-menu-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
  color: var(--navyblue, #2e2f42);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus,
.mob-menu-link.current {
  color: var(--ocean, #404bbf);
}

/* Mobile Contacts Address*/
.mob-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-contacts-tel {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
  color: var(--iris, #4d5ae5);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts-mail {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--slate, #434455);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts-tel:hover,
.mob-contacts-tel:focus,
.mob-contacts-mail:hover,
.mob-contacts-mail:focus {
  color: var(--iris, #4d5ae5);
}

/* Mobile Social */
.mob-container {
  position: absolute;
  bottom: 40px;
}

.mob-social-list {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
}

.mob-social-item {
  width: 40px;
  height: 40px;
}

.mob-social-link {
  /* width: 100%; */
  height: 100%;
  color: var(--white, #fff);
  background-color: var(--iris, #4d5ae5);

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-social-link:hover,
.mob-social-link:focus {
  background-color: var(--green, #31d0aa);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-icon {
  fill: currentColor;
}
